<% if flash[:error] %>
    <% flash[:error].each do |err|%>
        <li><% err %></li>
        <% end %>
<%end%>

<%= form_for(@user) "/home/users" do |f| %>
    <h1>Create User Form: </h1><br>

    <div class="first-name">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>
    
    <div class="last-name">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>

    <div class="display-name">
        <%= f.label :display_name %>
        <%= f.text_field :display_name %>
    </div>

    <div class="email">
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>

    <div class="password">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div class="confirm-password">
        <%= f.label :confirm_password %>
        <%= f.password_field :confirm_password %>
    </div>


    <div class="submit">
        <%= f.submit "Sign Up" %>
    </div>
    
<% end if @user%>