
<div class="planet-card container-fluid">
    <div class="row">
        <% @planets.each do |planet|%>
                <div class="col-sm-4">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src= <%= planet.img_url%> alt="Card image cap" height="200px">
                        <div class="card-body">
                            <h3 class="card-title"><%=planet.name %> </h3>
                            <hr>
                            <p class="card-text">
                                <li>Size: <%= planet.size%></li>
                                <li>Moons: <%= planet.moon_count %></li>
                            </p>
                            <hr>
                            <a href="/home/planets/<%=planet.id%>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
        <% end if @planets%>
    </div>
</div>
