<div class="container-fluid backgroup">
    <div class="jumbotron">
        <div class="search-bar text-center">
            <%= form_tag("/home/moons", method: "get") do %>
                <%= label_tag(:q, "Search Moon:", style: "color: #fff") %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search", class: "btn btn-primary") %>
            <% end%>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <h3>Earth</h3>
              <hr>
            <% @earth.sort.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end if @earth %>
        </div>
        <div class="col-sm-2">
            <h3>Mars</h3>
              <hr>
            <% @mars.sort.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end if @mars%>
        </div>
        <div class="col-sm-2">
            <h3>Jupiter</h3>
              <hr>
            <% @jupiter.sort.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end if @jupiter%>
        </div>
        <div class="col-sm-2">
          <h3>Saturn</h3>
            <hr>
            <% @saturn.sort.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end if @saturn %>
        </div>
          <div class="col-sm-2">
          <h3>Uranus</h3>
            <hr>
            <% @uranus.sort.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end if @uranus%>
        </div>
          <div class="col-sm-2">
          <h3>Neptune</h3>
          <hr>
            <% @neptune.sort.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end if @neptune%>
        </div>
    </div>
</div>
