    <div class="row">
        <div class="col-sm-2">
            <h3>Earth</h3>
              <hr>
            <% @earth.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end %>
        </div>
        <div class="col-sm-2">
            <h3>Mars</h3>
              <hr>
            <% @mars.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end %>
        </div>
        <div class="col-sm-2">
            <h3>Jupiter</h3>
              <hr>
            <% @jupiter.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end %>
        </div>
        <div class="col-sm-2">
          <h3>Saturn</h3>
            <hr>
            <% @saturn.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end %>
        </div>
          <div class="col-sm-2">
          <h3>Uranus</h3>
            <hr>
            <% @uranus.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end %>
        </div>
          <div class="col-sm-2">
          <h3>Neptune</h3>
          <hr>
            <% @neptune.each do |moon|%>
                <li><%= link_to moon.name, moon_path(moon)%></li>
            <% end %>
        </div>
</div>
