<div class="container-fluid">
    <div class="moon-img">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= @moon.img_url %>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Moon Name: <%= @moon.name %></h5>
            <% if @moon.user_id.nil?%>
                <p>Mooon Owner: No Owner</p>
                <%= form_for(@moon, method: :patch) do |f|%>
                    <%= f.submit "Claim", class: "btn btn-success" %>
                <% end %>
            <% else %>
                <p>Mooon Owner: <%=@moon.user.display_name %></p>
            <%end%>
        </div>
    </div>

</div>
