<!DOCTYPE html>
<html>
  <head>
    <title>MoonBase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <span id="brand">
        <a href="/home">Moon<i class="far fa-moon">Base</i></a>
      </span>
      <ul id="menu">
        <a href="/home"><li>HOME</li></a>
        <a href="/home/moons"><li>MOONS</li></a>
        <a href="/home/planets"><li>PLANETS</li></a>
        <% if !session[:user_id] %>
          <a href="/home/login"><li>LOGIN</li></a>
          <a href="/home/users/new"><li>SIGN UP</li></a>
        <% else %>
          <a href="/home/logout"><li>LOGOUT</li></a>
        <% end %>
      </ul>

      <div id="toggle">
        <div class="span" id="one"></div>
        <div class="span" id="two"></div>
        <div class="span" id="three"></div>
      </div>
    </nav>

    <div id="resize">
      <ul id="menu">
        <li><a href="/home">HOME</a></li>
        <li><a href="/home/moons">MOONS</a></li>
        <li><a href="/home/planets">PLANETS</a></li>
        <li><a href="/home/login">LOGIN</a></li>
        <li><a href="/home/users/new">SIGN UP</a></li>
      </ul>
    </div>

    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready($(function() {
            $("#toggle").click(function() {
            $(this).toggleClass("on");
            $("#resize").toggleClass("active");
            });
          })
        )
    </script>
  </body>
</html>
